In [32]:
#import pandas
import pandas as pd
MyDict = {
    "Name":["Kohli","Rohit","Smith"],
    "Score":[50,58,119,],
    "Team":["India","India","Australia"]
}
dataf= pd.DataFrame(MyDict)
print(dataf)

    Name  Score       Team
0  Kohli     50      India
1  Rohit     58      India
2  Smith    119  Australia

In [33]:
#shape of dataframe
dataf.shape
rows,cols=dataf.shape
print("Rows:"+str(rows)+" Cols:"+str(cols))

Rows:3 Cols:3

In [34]:
#head and tail
print("head")
print(dataf.head(2))
print("tail")
print(dataf.tail(2))

head
    Name  Score   Team
0  Kohli     50  India
1  Rohit     58  India
tail
    Name  Score       Team
1  Rohit     58      India
2  Smith    119  Australia

In [35]:
print(dataf[1:2])

dataf.Score

    Name  Score   Team
1  Rohit     58  India

0     50
1     58
2    119
Name: Score, dtype: int64

In [36]:
#functions of df
print(dataf["Score"].max())
print(dataf["Score"].min())
print(dataf["Score"].mean())

119
50
75.66666666666667

In [37]:
dataf.describe

<bound method NDFrame.describe of     Name  Score       Team
0  Kohli     50      India
1  Rohit     58      India
2  Smith    119  Australia>